In [2]:
panjang =20.5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*lebar
volume = panjang*lebar*tinggi

print('panjang = ',panjang)
print('lebar = ',lebar)
print('tinggi = ',tinggi)
print('keliling = ',keliling)
print('luas', luas)
print('volume = ',volume)

panjang =  20.5
lebar =  25
tinggi =  10
keliling =  91.0
luas 512.5
volume =  5125.0

In [1]:
class N_mhs: #nilai mahasiswa
    class K1: #kalkulus 1
        Shafira = 85
        Amanda = 80
        Aditya = 75
        Nedia  = 95
        Widya = 85
        Hanif = 75
        Andi = 70
        Dhanar = 85
        Hikma = 80
    class Ms: #metode statistika
        Shafira = 75
        Amanda = 90
        Aditya = 80
        Nedia = 80
        Widya = 85
        Hanif = 90
        Andi = 75
        Dhanar = 85
        Hikma = 75

rata1 = (N_mhs.K1.Shafira + N_mhs.Ms.Shafira)/2 #nomor 1
jumlahnilaiHanif = N_mhs.K1.Hanif + N_mhs.Ms.Hanif#nomor 2
jumlahnilaiAndi = N_mhs.K1.Andi + N_mhs.Ms.Andi
jumlahnilai = jumlahnilaiHanif + jumlahnilaiAndi
rata_K1 = (N_mhs.K1.Widya + N_mhs.K1.Dhanar + N_mhs.K1.Hikma + N_mhs.K1.Nedia)/4 #nomor 3
rata_Ms = (N_mhs.Ms.Widya + N_mhs.Ms.Dhanar + N_mhs.Ms.Hikma + N_mhs.Ms.Nedia)/4
jumlahK1 = sum([N_mhs.K1.Shafira, N_mhs.K1.Amanda, N_mhs.K1.Aditya, N_mhs.K1.Nedia, N_mhs.K1.Widya,
                N_mhs.K1.Hanif, N_mhs.K1.Andi, N_mhs.K1.Dhanar, N_mhs.K1.Hikma]) # nomor 4
jumlahMs = sum([N_mhs.Ms.Shafira, N_mhs.Ms.Amanda, N_mhs.Ms.Aditya, N_mhs.Ms.Nedia, N_mhs.Ms.Widya,
                N_mhs.Ms.Hanif, N_mhs.Ms.Andi, N_mhs.Ms.Dhanar, N_mhs.Ms.Hikma])





print('Rata-rata nilai Shafira pada kedua mata kuliah = ',rata1)
print('Jumlah nilai Hanif dan Andi untuk semua mata kuliah = ',jumlahnilai)
print('Rata-rata dari Widya, Dhanar, Hikma dan, Nedia adalah ',rata_K1)
print('sementara untuk nilai Metode Statistika nya adalah ',rata_Ms)
print('Jumlah nilai mata kuliah Kalkulus 1 untuk semua mahasiswa = ',jumlahK1)
print('Jumlah nilai mata kuliah Metode Statistika untuk semua mahasiswa = ',jumlahMs)

Rata-rata nilai Shafira pada kedua mata kuliah =  80.0
Jumlah nilai Hanif dan Andi untuk semua mata kuliah =  310
Rata-rata dari Widya, Dhanar, Hikma dan, Nedia adalah  86.25
sementara untuk nilai Metode Statistika nya adalah  81.25
Jumlah nilai mata kuliah Kalkulus 1 untuk semua mahasiswa =  730
Jumlah nilai mata kuliah Metode Statistika untuk semua mahasiswa =  735

In [1]:
# Data
tahun_bekerja = 10
jam_kerja_per_hari = 8
upah_per_jam = 30000
upah_lembur_per_jam = 10000
jumlah_hari_kerja = 31  # Anggap bulan Agustus memiliki 31 hari
jumlah_hari_tidak_masuk = 3
jam_lembur = 5

# Menghitung gaji pada bulan Agustus jika Dwi tidak masuk selama beberapa hari
gaji_harian = jam_kerja_per_hari * upah_per_jam
gaji_tidak_masuk = jumlah_hari_tidak_masuk * gaji_harian
gaji_bulan = (jumlah_hari_kerja - jumlah_hari_tidak_masuk) * gaji_harian

# Menghitung tunjangan jika karyawan bekerja lebih dari 5 tahun
if tahun_bekerja > 5:
    tunjangan = 0.1 * gaji_bulan
else:
    tunjangan = 0

# Menghitung total gaji dengan tunjangan
total_gaji = gaji_bulan + tunjangan

# Menghitung total gaji dengan lembur
gaji_lembur = jam_lembur * upah_lembur_per_jam
total_gaji_lembur = total_gaji + gaji_lembur

# Menampilkan hasil
print("1. Gaji pada bulan Agustus jika Dwi tidak masuk selama 3 hari:", gaji_bulan)
print("2. Tunjangan yang diterima oleh Dwi pada bulan Agustus:", tunjangan)
print("3. Total gaji yang diterima Dwi pada bulan Agustus dengan lembur:", total_gaji_lembur)

1. Gaji pada bulan Agustus jika Dwi tidak masuk selama 3 hari: 6720000
2. Tunjangan yang diterima oleh Dwi pada bulan Agustus: 672000.0
3. Total gaji yang diterima Dwi pada bulan Agustus dengan lembur: 7442000.0